/* learn about font family */



*{
    box-sizing: border-box;
    /* overflow:auto; */
}
body {
      
      margin :0;
      color:#878787;
      font-size: 1.5em;
      /* border-left: 10px solid #ffa949; */
      /* border-right: 10px solid #ffa949; */
      /* text-align: center; */
      /* padding-left: 15px; */
      line-height: 1.5;
      /* width:60%; */

}

h1,
h2{
     font-family: 'Abolition Regular', Arial, Helvetica, sans-serif;
}

span {
    color: rgba(255, 255, 255,.9);
    letter-spacing: 0.065em;
    padding-bottom: 10px;
    border-bottom: 2px solid #fff;
    
}

h1{
    font-size:72px;
    color: rgba(255, 255, 255, 1.2);
    font-weight: normal;
    text-transform: uppercase;
    /* text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15); */
               text-shadow:0px 1px 1px #000;
               margin: 12px 0 0;
}

h2{
    font-size:53px;
    font-weight: normal;
    color: rgba(255, 255, 255, 1.2);
    text-shadow:0px 1px 1px #000;
    /* margin: 140px 0 0; */
    border-bottom: 30px;

}

h3{
    font-size:20px;
    color: #48525c; 
    margin-bottom: 1.7em;
}

ul,
ol{
   /* padding-left: 0px; */
   margin:30px 0px;
}

li{
    margin-bottom: 10px;
}

/* li{
    display: inline;
    padding: 0 12px;
    border-right :  1px  solid #434a52;
} */


img{
    border-bottom: 20px;
    max-width: 100%;
}

/* class selectors */


.main-header{
    background-color:#ffa949;
    height: 850px;
    padding-top: 170px;
    box-sizing: border-box;
    background:  linear-gradient(#ffa949,transparent 90%),
                 linear-gradient(0deg,#fff ,transparent 90%),
                 #ffa949 url('back3.jpg') no-repeat center/ cover;    
    /* background-image: radial-gradient( circle at top right, #ffa949 0% , firebrick 50%, dodgerblue 100%)  */                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
}

.image1,
.image2{
    height: 250px;
    width: 500px;
    border-radius: 5px 5px;
}
/* .arrow{
    background-color: #ffa949;
    width: 50px;
} */


/* .primary-content{
    text-align: center;
     padding-left: 20px;
}
 */

 .main-header,
#footer-content,
.primary-content {
   
   text-align: center;
}


.primary-content{
    padding-top: 25px;
    padding-bottom: 95px;
}

.secondary-content{
    padding-top: 60px;
    padding-bottom: 70px;
    border-bottom: solid 2px #dfe2e6;
    border-top: 500px;
    /* overflow: auto; */
}



.main-header span {
    font-size: 20px;
    color: linen;

}

.top-border {
    border-top: 5px solid lightgrey;
}

.firsttext,
.primary-content,
.secondary-content{
    width: 75%;
    padding-left :50px;
    padding-right: 50px;
    box-sizing: border-box;
    margin: auto;
}


.callout{
    padding:0 9px 3px ;
    margin-top: 20px;
    border-bottom:3px solid #ffa949 ;
    font-size: 1.25em;
    display: inline-block;
    text-align: center;
    

}


.wildlife{
    color:white;
    padding: 18% 24%;
    border-top:10px solid #ffa949;
    
    background:    linear-gradient(180deg,gray ,transparent 95%),
                   linear-gradient(0deg,gray ,transparent 95%), 
                   rgba(0, 0, 0,0.1) url('bear.jpg') no-repeat center;
    background-size: cover ; 
    box-shadow:  inset 0 0 50px 12px rgba(88, 88, 88,0.9);
    border-radius: 10px 10px;

     /* margin:0 30px 0 30px  */
}

.group{
    content:"";
    display:table;
    clear:both;
}

.resort,
.packthings{
    width:46.5%;
}

.packthings{
    float:right;
}
.resort{
    float:left;
}

.firsttext{
    overflow: auto;
}



/* id selector */
/* 
#findoutmore{
    text-align: center;
}
#seewild{
    text-align: center;
} */

#footer-content{
    padding-top: 30px;
    /* padding-bottom: 60px; */
    /* border-bottom: 10px solid #ffa949; */
    overflow: auto;
    /* text-align: center; */
}

footer div{
    background-color: #ffa949;
    color:#000;
    margin-top: 10px;
}


/* p{
    font-weight: 600;
} */




/* psuedo selector */



a:link {
    color: #ffa949;
    text-decoration: none;
}
a:visited {
    color:#ffa949;
}
a:hover {
    color:rgba(255, 169, 73,.5);
}
a:active {
    color:lightcoral
} 
 a:focus {
    color:white;
    background-color: yellow;
} 

/* media query */

@media(max-width:1024px){
    .primary-content,
    .secondary-content{
        width:90%;
    }
    .wildlife{
        padding: 10% 12%;

    }

}

@media(max-width:768px){
    .primary-content,
    .secondary-content {
        width:100%;
        padding: 10px;
        border:none;
    }

    .main-header {
        max-height:490px;
        padding:5px 5px 0;
        
    }

    span {
        font-size: 1.3rem;
        border: none;
    }

    h1{
        font-size: 5rem;
        line-height:1.1;
    }
    .wildlife{
        padding: 5% 9%;
        
    }
    .resort,
    .packthings{
        float: none;
        width: 100%;
    }

    #footer-content{
        padding: 20px 0;
    }
}